@import "tailwindcss";

*,
*::before, 
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit; 
} 

.font-montserrat{
  font-family: "Montserrat", sans-serif;
}  

.bg-primary{
	background-color:#FE7531;
}
 
.text-primary{
	color:#FE7531;
}
  
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0%   { box-shadow: 20px 0 #ff935e, -20px 0 #FE7531; background: #ff935e; }
  33%  { box-shadow: 20px 0 #ff874b, -20px 0 #ff7f3f; background: #ff874b; }
  66%  { box-shadow: 20px 0 #ff7f3f, -20px 0 #ff874b; background: #ff7f3f; }
  100% { box-shadow: 20px 0 #FE7531, -20px 0 #ff935e; background: #FE7531; }
}